@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
--blue: #032d60;
--btn: #0176d3;
--white: #fff;
--red: #dc2626;
}

* {
box-sizing: border-box;
padding: 0;
margin: 0;
font-family: "SfPro", sans-serif;
}

@font-face {
font-family: "SfPro";
src: url("/fonts/SfPro-Regular.woff2") format("woff2");
font-weight: 400;
font-style: normal;
font-display: swap;
}


@font-face {
font-family: "SfPro";
src: url("/fonts/SfPro-Semibold.woff2") format("woff2");
font-weight: 600;
font-style: normal;
font-display: swap;
}

a {
color: inherit;
text-decoration: none;
}







html {
scroll-behavior: smooth;
}

ul {
list-style-type: none;
padding: 0;
margin: 0;
}

a {
text-decoration: none;
display: inline-block;
color: inherit;
}

a:hover {
color: inherit;
}

img,
video {
max-width: 100%;
}

span {
display: inline-block;
}

summary {
list-style-type: none;
}

figure {
margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
margin: 0;
}

.container {
width: 100%;
max-width: 1300px;
margin: 0 auto;
padding: 0 15px;
}

.grid {
display: grid;
}

.grid-cols-2 {
grid-template-columns: 1fr 1fr;
}

.grid-cols-3 {
grid-template-columns: 1fr 1fr 1fr;
}

.grid-cols-4 {
grid-template-columns: repeat(4, 1fr);
}

.grid-cols-5 {
grid-template-columns: repeat(5, 1fr);
}

.grid-cols-6 {
grid-template-columns: repeat(6, 1fr);
}

p {
font-size: 16px;
line-height: 16px;
font-weight: 400;
}

.item {
width: 100%;
}

.grid-span-2 {
grid-column: span 2;
}

.gap {
gap: 20px;
}




.header .grid {
display: grid;
grid-template-columns: 200px 1fr;
align-items: center;
}

.link-bar ul {
display: flex;
justify-content: end;
align-items: center;
}

.link-bar ul li a {
color: var(--blue);
font-size: 16px;
line-height: 24px;
font-weight: 600;
}

.link-bar ul li {
margin-right: 28px;
}

.link-bar ul li:last-child {
margin-right: 0;
}

.header {
padding: 26px 0;
background: #fff;
}

.link-bar ul li .header-btn {
background: var(--btn);
border-style: solid;
border-color: var(--btn);
color: var(--white);
border-width: 2px;
border-radius: 4px;
padding: 9px 16px;
transition: all .3s ease;
-webkit-transition: all .3s ease;
-moz-transition: all .3s ease;
-ms-transition: all .3s ease;
-o-transition: all .3s ease;
}

.link-bar ul li .header-btn:hover {
background: var(--blue);
border-color: var(--blue);
}

/* footer */
.site-footer .grid {
grid-template-columns: auto 1fr;
}

.footer-icon ul {
display: flex;
justify-content: end;
gap: 20px;
}

section.site-footer {
margin: 64px 0 50px;
}

.footer-icon ul li a {
transition: all .3s ease;
}

.footer-icon ul li a:hover {
transform: translateY(-5px);
}
/* header footer */



/* banner */
.site-banner {
position: relative;
padding: 52px 0;
}

.layers {
position: absolute;
top: 0;
left: 0;
width: 100%;
z-index: -1;
}

.layers img {
width: 100%;
height: auto;
}

.site-banner .grid-cols-2 {
align-items: center;
}

.img-bar {
text-align: end;
}

.site-banner h1 {
font-size: 56px;
line-height: 64px;
font-weight: 600;
color: var(--blue);
}

.site-banner span {
color: #0d9dda;
}

.site-banner p {
color: #181818;
padding: 24px 0 40px;
font-size: 20px;
font-weight: 400;
line-height: 28px;
max-width: 587px;
}

.site-banner a {
display: block;
}

.primary-btn {
background: var(--btn);
border-radius: 4px;
border-style: solid;
border-color: var(--btn);
border-width: 2px;
padding: 15px 20px;
color: var(--white);
font-size: 16px;
line-height: 24px;
font-weight: 600;
width: fit-content;
transition: all .3s ease;
-webkit-transition: all .3s ease;
-moz-transition: all .3s ease;
-ms-transition: all .3s ease;
-o-transition: all .3s ease;
transform: none !important;
}

.primary-btn:hover {
background: var(--blue);
color: #fff;
border-color: var(--blue);
}

.bootom-bnr {
padding-top: 20px;
position: relative;
padding-bottom: 174px;
}

.bottom-layer {
z-index: -1;
width: 100%;
position: absolute;
top: 0px;
left: 0px;
height: 100%;
}

.bottom-layer img {
width: 100%;
height: 100%;
}

.bootom-bnr .grid-cols-2 {
box-shadow: 0px 8px 12px -2px rgba(23, 23, 23, 0.16),
0px 2px 8px -2px rgba(23, 23, 23, 0.08);
background: #ffffff;
border-radius: 16px;
padding: 40px;
}

.slider-flex {
gap: 30px;
display: grid;
grid-template-columns: 85px 1fr;
}

.slidr-img img {
width: 100%;
object-fit: cover;
height: 100%;
border-radius: 8px;
}

.slidr-img {
height: 80px;
width: 80px;
}

.slidr-text p {
color: #1e1e1e;
text-align: left;
font-size: 16px;
line-height: 24px;
font-weight: 400;
margin: 13px 0 16px;
}

.slidr-text span {
text-align: left;
font-size: 12px;
line-height: 18px;
font-weight: 400;
color: var(--blue);
color: #181818;
}

.slidr-text span span {
color: var(--blue);
display: block;
}

.questions {
background: #f9fafb;
border-radius: 16px;
padding: 24px;
display: grid;
grid-template-columns: 1fr 1fr;
gap: 24px;
}

.questions h3 {
color: var(--blue);
text-align: center;
font-size: 30px;
line-height: 36px;
font-weight: 500;
}

.questions p {
font-size: 16px;
line-height: 20px;
font-weight: 400;
color: #1e1e1e;
text-align: center;
margin-top: 2px;
}

.join {
padding: 100px 0 0;
position: relative;
}

.site-heading {
color: var(--blue);
text-align: center;
font-size: 40px;
line-height: 48px;
font-weight: 600;
}

.heading-item p {
color: #181818;
text-align: center;
max-width: 876px;
margin: 0 auto;
padding-top: 24px;
font-size: 20px;
font-weight: 400;
line-height: 28px;
}

.join-box {
background: #fff;
border: 1px solid #18181805;
border-bottom-width: 0;
border-radius: 16px;
padding: 24px;
box-shadow: 2px 2px 18px #18181829;
height: 100%;
}

.join-img {
border: 4px solid #d2edff;
border-radius: 50%;
width: 120px;
height: 120px;
margin: 0 auto 20px;
}

.join-img img {
width: 100%;
height: 100%;
}

.join-text h3 {
color: var(--blue);
text-align: left;
;
font-size: 20px;
line-height: 28px;
font-weight: 600;
margin: 16px 0;
}

.join-text a {
color: var(--blue);
background: #1ea7fd33;
border-radius: 25px;
padding: 4px 23px;
font-size: 12px;
font-weight: 400;
line-height: 24px;
}

.join-text h3 {
color: var(--blue);
text-align: left;
font-family: "SfPro-Semibold", sans-serif;
font-size: 20px;
line-height: 28px;
font-weight: 600;
margin: 16px 0;
}

.join-text p {
color: #181818;
text-align: left;
font-size: 16px;
line-height: 24px;
font-weight: 400;
}

.join-botton .primary-btn {
width: 100%;
max-width: 316px;
}

.join-text p span {
font-weight: 600;
}

.join-text p:last-child {
padding-top: 33px;
}

.heading-item {
margin-bottom: 64px;
}

.join .gap {
gap: 64px;
}

.join .item:nth-child(2) ul {
display: block;
}

.join-secon-para {
padding-top: 24px;
}

.join-text p span {
display: inline;
}



.join .item ul li span {
font-weight: 600;
padding-right: 6px;
}

.join .item ul li {
color: #181818;
font-size: 15px;
font-weight: 400;
line-height: 24px;
list-style: disc;
margin-left: 27px;
max-width: 244px;
}

.join-botton {
text-align: center;
margin-top: 64px;
}

.join-layer img {
width: 100%;
}

.live {
padding-top: 44px;
}

.heading-item p span {
font-weight: 600;
display: inline;
}

.live-picture img {
border-radius: 16px;
width: 100%;
height: 100%;
}

.live-picture {
height: 100%;
}

.nex-live {
background: #f9fafb;
border-radius: 12px;
padding: 24px;
margin-bottom: 70px;
}

.next-flex {
display: flex;
justify-content: space-between;
gap: 10px;
flex-wrap: wrap;
align-items: center;
}

.next-flex span {
color: var(--red);
text-align: center;
background: #fee2e2;
border-radius: 27px;
padding: 4px 16px;
font-size: 14px;
font-weight: 400;
}

.nex-live .next-flex p {
color: var(--btn);
font-size: 16px;
line-height: 16px;
font-weight: 400;
}

.nex-live h4 {
color: var(--blue);
text-align: left;
font-size: 20px;
font-weight: 600;
line-height: 28px;
margin: 8px 0;
}

.next-only figure {
width: 48px;
height: 48px;
}

.next-only figure {
width: 100%;
height: 100%;
border-radius: 8px;
}

.next-only {
grid-template-columns: 50px 1fr;
gap: 16px;
display: grid;
align-items: center;
margin: 20px 0;
}

.next-only p span {
color: #181818;
text-align: left;
font-size: 12px;
line-height: 18px;
font-weight: 400;
display: block;
}

.nex-live p {
color: #181818;
}

.nex-live p span {
font-size: 12px;
line-height: 18px;
font-weight: 400;
}

.nex-live .primary-btn {
display: block;
width: 100%;
text-align: center;
}

.upcoming h3 {
color: var(--blue);
text-align: left;
font-size: 20px;
line-height: 28px;
letter-spacing: -0.08px;
font-weight: 600;
margin-bottom: 16px;
}

.upcoming-flex {
background: #f9fafb;
border-radius: 8px;
padding: 24px;
display: grid;
grid-template-columns: 1fr 1fr;
align-items: center;
margin-bottom: 16px;
}

.upcoming-flex:last-child {
margin-bottom: 0;
}

.upcoming-btn {
text-align: end;
}

.live .gap {
gap: 64px;
}

.upcoming-btn .primary-btn {
border-style: solid;
border-color: var(--btn);
color: var(--btn);
text-align: center;
background: rgb(255, 255, 255);
border-width: 1px;
border-radius: 4px;
font-size: 16px;
font-weight: 600;
transition: all .3s ease;
}

.upcoming-btn .primary-btn:hover {
background: var(--blue);
border-color: var(--blue);
color: var(--white);
}

.site-banner .primary-btn {
padding: 15px 46px;
text-align: center;
}

.upcoming-box h4 {
color: #032d60;
font-size: 20px;
line-height: 28px;
font-weight: 600;
}

.upcoming-box p {
color: #181818;
margin-top: 3px;
}

/* community */
.community {
margin: 128px 0;
}

.next-only figure img {
border-radius: 8px;
}



.communityleft {
background: #ffffff;
border-radius: 16px;
border-style: solid;
border-color: rgba(24, 24, 24, 0.02);
border-width: 1px 1px 0px 1px;
padding: 24px;
box-shadow: 2px 2px 18px 0px rgba(24, 24, 24, 0.16);
}


.certification-flex {
display: flex;
justify-content: space-between;
gap: 10px;
}


.certification-left span {
color: #9d6df2;
font-size: 12px;
line-height: 24px;
font-weight: 600;
background: #ede9fe;
border-radius: 25px;
padding: 5px 10px 5px 10px;
min-width: 128px;
text-align: center;
}

.certification-left {
display: flex;
align-items: center;
gap: 26px;
flex-wrap: wrap;
}

.certification-left span:last-child {
background: #d1fae5;
padding: 5px 10px 5px 10px;
color: #079669;
}

.certification-right img {
border: 2px solid #fff;
border-radius: 50%;
width: 32px;
height: 32px;
margin-left: -8px;
}

.certification-right img:first-child {
margin-right: 0;
}

.certification-right {
display: flex;
align-items: center;
gap: 16px;
flex-wrap: wrap;
}

.certification-right p {
color: #4b5563;
text-align: left;
font-family: "Poppins-Regular", sans-serif;
font-size: 12px;
line-height: 16px;
font-weight: 400;
}

.michelle {
display: grid;
grid-template-columns: 50px 1fr;
gap: 16px;
margin-top: 40px;
}

.michelle img {
width: 40px;
height: 40px;
border-radius: 50%;
}

.michelle-box {
border-radius: 8px;
border-style: solid;
border-color: #e5e7eb;
border-width: 1px;
padding: 17px;
}

.michelle-box h3 {
color: var(--blue);
text-align: left;
font-size: 16px;
font-weight: 600;
margin-bottom: 8px;
}

.michelle-box p {
color: #181818;
line-height: 24px;
}

.michelle ul img {
border-radius: 0;
}

.michelle-box h3 {
color: #032d60;
text-align: left;
font-size: 16px;
font-weight: 600;
margin-bottom: 8px;
}

.michelle-box p {
color: #181818;
line-height: 24px;
}

.michelle ul img {
border-radius: 0;
}

.michelle-box ul li {
display: flex;
align-items: center;
gap: 17px;
margin-bottom: 2px;
}

.michelle-box ul li img {
width: 20px;
}

.michelle-box ul {
margin-top: 8px;
}

.michelle-box ul li {
display: flex;
align-items: center;
gap: 17px;
margin-bottom: 2px;
color: var(--btn);
text-align: left;
font-size: 16px;
line-height: 16px;
font-weight: 400;
}

.community-right h3 {
color: var(--blue);
font-size: 20px;
line-height: 28px;
font-weight: 600;
margin-bottom: 24px;
}

.trending-box h4 {
color: var(--blue);
text-align: left;
font-size: 20px;
line-height: 28px;
font-weight: 600;
margin-bottom: 8px;
}

.trending-box p {
color: #181818;
}

.trending-box {
background: #f9fafb;
border-radius: 8px;
padding: 16px;
margin-bottom: 16px;
}

.community-right .primary-btn {
width: 100%;
text-align: center;
margin-top: 14px;
}

.community .gap {
gap: 64px;
}

.build-box {
background: #ffffff;
border-radius: 16px;
border-style: solid;
border-color: rgba(24, 24, 24, 0.02);
border-width: 1px 1px 0px 1px;
padding: 24px;
box-shadow: 2px 2px 18px 0px rgba(24, 24, 24, 0.16);
}


.build-flex figure img {
width: 64px;
height: 64px;
border-radius: 8px;
}

.build-flex {
display: grid;
grid-template-columns: 64px 1fr;
gap: 16px;
}

.build-box-content h3 {
color: var(--blue);
text-align: left;
font-size: 16px;
font-weight: 600;
}

.build-box-content p {
color: var(--blue);
margin: 10px 0 2px;
}

.build-box-content span {
color: #079669;
text-align: left;
font-size: 12px;
line-height: 24px;
font-weight: 500;
}

p.quote {
color: #181818;
margin-top: 24px;
line-height: 24px;
max-width: 309px;
}

.build {
position: relative;
padding-bottom: 332px;
}

.build-layer {
position: absolute;
left: 0;
width: 100%;
z-index: -1;
bottom: 0;
}

.build-layer img {
object-fit: cover;
width: 100%;
height: auto;
max-height: 573px;
}

.build .primary-btn {
width: 100%;
text-align: center;
max-width: 316px;
margin: 44px auto 0;
display: block;
}


.exclusive .card {
background: #ffffff;
border-radius: 16px;
border-style: solid;
border-color: rgba(24, 24, 24, 0.02);
border-width: 1px 1px 0px 1px;
padding: 0px 0px 24px 0px;
box-shadow: 2px 2px 18px 0px rgba(24, 24, 24, 0.16);
height: 100%;
}

.exclusive .card figure img {
border-radius: 16px 16px 0px 0px;
height: 168px;
width: 100%;
}

.exclusive .card-content {
padding: 24px 24px 0;
}

.exclusive .card-content .badge {
background: rgba(30, 167, 253, 0.2);
border-radius: 25px;
color: var(--blue);
text-align: left;
font-size: 12px;
line-height: 24px;
font-weight: 400;
padding: 2px 20px;
}

.exclusive .card-content .title {
color: var(--blue);
text-align: left;
margin: 16px 0;
font-size: 20px;
font-weight: 600;
line-height: 28px;
max-width: 213px;
min-height: 56px;
}

.exclusive .card-content p {
color: #181818;
line-height: 24px;
max-width: 226px;
}

.exclusive .gap {
gap: 40px;
}

.exclusive .gap {
gap: 40px;
}

.fun-bnr p {
color: #181818;
text-align: center;
font-size: 20px;
line-height: 28px;
font-weight: 400;
padding: 24px 0 64px;
max-width: 901px;
margin: 0 auto;
}

.fun-bnr .grid {
background: #f0fbfc;
border-radius: 16px;
padding: 80px 20px;
text-align: center;
}

.fun-bnr h3 {
font-size: 40px;
line-height: 48px;
font-weight: 600;
color: #032d60;
}

.fun-bnr {
margin-top: 128px;
}



.fun-bnr .primary-btn img {
margin-right: 8px;
}

.fun-bnr .primary-btn {
width: 100%;
max-width: 426px;
display: flex;
justify-content: center;
align-items: center;
margin: 0 auto;
}

.slider-build {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 64px;
}
.layers img:last-child {
display: none;
}


/* blogs page */

.second-bnr {
border: 0 solid #e5e5e5;
border-top-width: 1px;
padding-top: 66px;
position: relative;
padding-bottom: 17px;
overflow: hidden;
}



.blogs-heding h1 {
color: var(--blue);
text-align: center;
font-size: 56px;
line-height: 64px;
font-weight: 600;
padding-bottom: 60px;
}

.blogs-bnr-img {
width: 100%;
height: 100%;
box-shadow: 0 0 24px 4px #0000001f;
border-radius: 16px;
}

.blogs-bnr-img img {
width: 100%;
height: 100%;
border-radius: 16px;
object-fit: cover;
}

.second-bnr .gap {
gap: 55px;
}

.custom-badge {
background: #eaf5fe;
border-radius: 4px;
padding: 5px 11px 5px 11px;
font-size: 12px;
line-height: 12px;
letter-spacing: 0.8px;
font-weight: 400;
color: #181818;
}

.blogs-bnr-text h2 {
color: var(--blue);
font-size: 38px;
font-weight: 600;
line-height: 48px;
padding-top: 16px;
}
.blogs-bnr-text p {
color: #58575b;
text-align: left;
font-size: 16px;
line-height: 24px;
font-weight: 400;
max-width: 564px;
}

.second-bnr .custom-flex {
padding: 16px 0;
}

.custom-flex li img {
width: 32px;
height: 32px;
border-radius: 50%;
object-fit: cover;
}

.custom-flex li {
font-size: 14px;
line-height: 20px;
font-weight: 400;
align-items: center;
display: flex;
color: #080707;
gap: 20px;
flex-wrap: wrap;
}

.custom-flex li a {
display: flex;
align-items: center;
gap: 8px;
color: var(--blue);
}

.custom-flex li span {
color: #080707;
position: relative;
padding-left: 9px;
}

.custom-flex li span:before {
content: "";
position: absolute;
top: 50%;
left: -8px;
background: #080707;
width: 5px;
height: 5px;
border-radius: 50%;
transform: translateY(-50%);
}
.custom-flex li a span {
text-decoration: underline;
color: var(--blue);
}

.custom-flex li a span:before {
display: none;
}
.blogs-bnr-layer {
position: absolute;
bottom: 0;
left: 0;
}

.blogs-bnr-layer img {
width: 477px;
height: 314px;
}

.common-card .card:hover figure img {
transform: scale(1.1);
-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
-ms-transform: scale(1.1);
-o-transform: scale(1.1);
}

.common-card .card figure {
object-fit: cover;
width: 100%;
height: 216px;
margin-bottom: 27px;
overflow: hidden;
border-radius: 16px;
}
.common-card .card figure img {
border-radius: 16px;
width: 100%;
height: 100%;
transition: all .3s ease;
object-fit: cover;
}

.common-card {
margin: 128px 0 100px;
}

.title-custom {
font-size: 20px;
line-height: 28px;
font-weight: 600;
color: #032d60;
max-width: 300px;
margin: 16px 0;
}

.common-card .card-content p {
color: #58575b;
max-width: 361px;
line-height: 24px;
}

.common-card .custom-flex li {
margin-bottom: 16px;
}
.common-card .gap {
gap: 54px;
}

.blogs-animation-img img{
animation: moveUpDown 2s infinite ease-in-out;
}
@keyframes moveUpDown {
0% {
transform: translateY(0); /* Start at the top */
}
50% {
transform: translateY(13px);
-webkit-transform: translateY(13px);
-moz-transform: translateY(13px);
-ms-transform: translateY(13px);
-o-transform: translateY(13px);
}
100% {
transform: translateY(0); /* Move back to the top */
}
}


.common-tabs {
margin-top: 122px;
}
.pagination-center a:hover {
color: #0176d3;
}

.pagination .arrow:hover {
color: #0176d3;
}
.tabs-bar button.Mui-selected {
color: #fff;
background: #032d60;
}
.tabs-bar button {
color: #181818;
background: #f3f4f6;
border-radius: 4px;
padding: 8px 16px;
font-size: 14px;
font-weight: 400;
text-transform: capitalize;
}

.tabs-bar .MuiTabs-list {
gap: 12px;
padding-right: 122px;
display: flex;
flex-wrap: wrap;
}


.tabs-bar  .MuiBox-root {
border: 0;
}
.tabs-bar {

gap: 10px;
}
.common-tabs .grid-cols-2 {
grid-template-columns: 2.4fr 1fr;
}
.common-tabs .grid-cols-2 .item {
position: relative;
}

.common-tabs .css-13xfq8m-MuiTabPanel-root {padding-top: 49px;}

.common-tabs .flex-tbs {
grid-template-columns: auto 1fr;
gap: 42px;
display: grid;
border-style: solid;
border-color: #dddbda;
border-width: 1px 0px 0px 0px;
padding-bottom: 48px;
padding-top: 48px;
}

.common-tabs  .css-13xfq8m-MuiTabPanel-root {
padding: 49px 0 0;
}

.common-tabs  .flex-tbs-img img {
width: 203.06px;
height: 114.22px;
object-fit: cover;
border-radius: 16px;
}

.common-tabs  .flex-tbs-content .custom-badge {
background: #5867e8;
border-radius: 4px;
padding: 5px 11px 5px 11px;
font-size: 12px;
line-height: 12px;
letter-spacing: 0.8px;
font-weight: 400;
color: #fff;
}

.common-tabs  .title-custom {
font-size: 36px;
line-height: 42.12px;
letter-spacing: -0.4px;
font-weight: 600;
max-width: 100%;
}

.common-tabs  .custom-flex {
margin-bottom: 16px;
}

.common-tabs  .flex-tbs-content p {
font-size: 16px;
line-height: 24px;
font-weight: 400;
color: #58575b;
margin-bottom: 20px;
}

.common-tabs  .flex-tbs-content p:last-child {
margin-bottom: 0;
}
.common-tabs .flex-tbs-content  .lorem-color {
color: #032d60;
font-size: 12px;
line-height: 15.96px;
letter-spacing: 0.7px;
font-weight: 400;
}

.common-tabs .flex-tbs-content .lorem-color span {
display: inline-block;
background: #080707;
border-radius: 50%;
width: 5px;
height: 5px;
position: relative;
top: -1px;
margin: 0 10px;
}
.common-tabs .flex-tbs-content .custom-badge.blue {
background: #0176d3;
}
.common-tabs .flex-tbs-content .custom-badge.green {
background: #024d4c;
}

.join-card {
position: relative;
}

.join-card article {
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
width: 100%;
padding: 18px;
}
.join-card img {
border-radius: 25px;
}

.join-card .primary-btn {
width: 100%;
max-width: 282px;
margin-top: 23px;
}
.join-card h3 {
color: #ffffff;
text-align: center;
font-size: 32px;
line-height: 37.44px;
font-weight: 600;
}

.join-card .primary-btn {
width: 100%;
max-width: 282px;
margin: 23px auto 0;
display: block;
text-align: center;
}
.join-card .primary-btn:hover {
background: #fff;
color: #032d60;
}
.pagination {
display: flex;
justify-content: space-between;
align-items: center;
}

.pagination-center {display: flex;justify-content: space-between;gap: 28px;}

span.current {
border-style: solid;
border-color: #032d60;
border-width: 0px 0px 3px 0px;
padding: 0px 10px;
}

.pagination-center a {
padding: 0 10px;
font-size: 16px;
line-height: 18.4px;
font-weight: 400;
color: #032d60;
}

.pagination-center span {
font-size: 16px;
line-height: 18.4px;
font-weight: 400;
color: #032d60;
}

.pagination .arrow.disabled {
color: #032d6096;
font-size: 16px;
line-height: 18.4px;
font-weight: 400;
}
.pagination .arrow {
color: #032d60;
text-align: left;
font-size: 16px;
line-height: 18.4px;
font-weight: 400;
}

.feature-sec {
margin: 73px 0 50px;
}
.feature-sec {
margin-top: 73px;
}
.feature-sec .heading {
text-align: center;
margin-bottom: 48px;
}

.feature-sec  .heading h6 span {
display: flex;
justify-content: center;
align-items: center;
color: #032d60;
text-align: center;
font-size: 14px;
line-height: 15.96px;
letter-spacing: 0.8px;
font-weight: 400;
background: #fff;
z-index: 2;
position: relative;
width: fit-content;
margin: 0 auto;
padding: 0 39px;
gap: 20px;
}

.feature-sec  .heading h6 {
position: relative;
}

.feature-sec  .heading h6:before {
content: "";
position: absolute;
top: 50%;
left: 0;
width: 100%;
height: 1px;
background: #dddbda;
transform: translateY(-50%);
}


.feature-card figure {
width: 99px;
height: 99px;
border-radius: 50%;
}

.feature-card figure img {
width: 100%;
height: 100%;
border-radius: 50%;
}



.feature-card {
display: grid;
grid-template-columns: auto 1fr;
align-items: center;
gap: 16px;
}

.feature-card h3 {
color: var(--blue);
text-align: left;
font-size: 16px;
font-weight: 600;
margin-bottom: 8px;
}

.feature-card p {
color: var(--blue);
}

.join-bottom-bnr {
background: var(--blue);
padding: 68px 0;
position: relative;
}


.join-bottom-bnr-layer img:first-child {
width: 838px;
height: 384px;
position: absolute;
left: 0;
bottom: 0;
z-index: 0;
}

.join-bottom-bnr-layer img:last-child {
z-index: 0;
position: absolute;
top: -49px;
right: 20%;
}

.join-card {
position: sticky;
top: 50px;
}
.join-bottom-bnr .primary-btn:hover {
background: #fff;
color: #032d60;
}
.join-bottom-bnr .item {
position: relative;
}

.join-bottom-bnr h3 {
color: #ffffff;
text-align: center;
font-size: 40px;
line-height: 48px;
font-weight: 600;
margin-bottom: 24px;
}

.join-bottom-bnr p {
color: #fff;
text-align: center;
font-size: 20px;
font-weight: 400;
line-height: 28px;
max-width: 723px;
margin: 0 auto;
}

.join-bottom-bnr .primary-btn {
margin: 64px auto 0;
display: block;
width: 100%;
max-width: 226px;
text-align: center;
}
.blogs-bnr-layer-mobile {
display: none;
}




.dropdown-wrapper {
width: 104px;
position: absolute;
top: 6px;
right: 0;
}
.dropdown-label {
display: block;
margin-bottom: 6px;
font-size: 14px;
color: #333;
}
.custom-select {
appearance: none;
color: #000;
cursor: pointer;
background-color: #fff;
border-radius: 4px;
width: 100%;
padding: 8px 30px 8px 10px;
border: 0;
box-shadow: none;
outline: none;
font-size: 16px;
font-weight: 400;
}

.dropdown-arrow {
pointer-events: none;
color: #555;
font-size: 12px;
position: absolute;
top: 10px;
right: 10px;
}
.selected-text {
margin-top: 10px;
font-size: 13px;
color: #555;
}


.tabs-bar .MuiTabs-indicator {
display: none;
}


.blogs-detail-bnr {
border: 0 solid #e5e5e5;
border-top-width: 1px;
padding-top: 68px;
position: relative;
}

.blogs-detail-bnr .custom-badge {
background: #0176d3;
color: #ffffff;
margin-bottom: 16px;
}

.bnr-title {
color: #032d60;
text-align: left;
font-size: 40px;
line-height: 48px;
font-weight: 600;
}
.bnr-paragraph {
color: hsl(213deg 94% 19% / 75%);
font-size: 20px;
line-height: 28px;
padding-top: 24px;
}

.blogs-detail-bnr .custom-flex {
margin-top: 40px;
}

.blogs-detail-bnr .custom-flex li span:before {
display: none;
}

.blogs-detail-bnr .custom-flex li span {
display: flex;
padding-left: 39px;
align-items: center;
gap: 10px;
}

.blogs-detail-bnr .custom-flex li {
display: block;
}

.blogs-detail-bnr .custom-flex li a span {
padding-left: 0;
}

.blogs-detail-bnr .custom-flex li span span {
width: 5px;
height: 5px;
background: #000000;
border-radius: 50%;
display: block;
padding: 0;
}
.detail-layer img {
position: absolute;
bottom: 62px;
right: 0;
z-index: -1;
}

.detail-layer img:last-child {
width: 351px;
height: 359px;
}
.blogs-detail-bnr .grid {
padding-top: 63px;
}

.blogs-detail-right img {
border-radius: 16px;
}

.blogs-detail-right p {
font-size: 12px;
line-height: 21px;
font-weight: 400;
color: #58575b;
padding-top: 10px;
max-width: 442px;
}
















/* responsive */
@media (max-width: 1700px) {
.blogs-bnr-layer img {
width: 454px;
height: 277px;
}
.blogs-bnr-layer img {
width: 410px;
height: 246px;
}
}
@media (max-width: 1600px) {
.blogs-bnr-layer img {
width: 410px;
height: 246px;
}
}
@media (max-width: 1500px) {
.join-bottom-bnr-layer img:last-child {
right: 8%;
}
}

@media (max-width: 1400px) {
.blogs-bnr-layer img {
max-width: 249px;
max-height: 226px;
}
}
@media (max-width: 1200px) {
.site-banner h1 {
font-size: 45px;
line-height: 56px;
}
.blogs-bnr-layer img {
max-width: 193px;
max-height: 218px;
}
.join .gap {
gap: 18px;
}

.live .gap {
gap: 20px;
}

.community .gap {
gap: 20px;
}

.slider-build {
gap: 20px;
}

.exclusive .gap {
gap: 20px;
}

.grid-cols-4 {
grid-template-columns: repeat(3, 1fr);
}
.blogs-heding h1{
font-size: 45px;
line-height: 56px;
}
.second-bnr .gap {
gap: 26px;
}
.blogs-bnr-text h2 {
font-size: 33px;
}
.common-card .gap {
gap: 44px 22px;
}
.common-tabs .title-custom {
font-size: 26px;
line-height: 36.12px;
}
.join-card h3 {
font-size: 27px;
line-height: 37.44px;
max-width: 280px;
margin: 0 auto;
}
.join-bottom-bnr-layer img:last-child {
right: 0;
}
}



@media (max-width: 991px) {
.container {
padding: 0 44px;
}

.header .container {
padding: 0 24px;
}

.site-footer .container {
padding: 0 24px;
}

.bootom-bnr .grid-cols-2 {
padding: 24px;
grid-template-columns: 1fr 1fr;
}

.site-banner .grid-cols-2 {
grid-template-columns: 1fr 1fr;
}

.questions p {
font-size: 14px;
line-height: 18px;
max-width: 120px;
margin: 0 auto;
}

.questions h3 {
font-size: 24px;
}

.questions {
padding: 20px;
}

.slidr-text p {
font-size: 15px;
}

.site-banner .primary-btn {
padding: 15px 15px;
}

.slider-flex {
gap: 18px;
}

.bootom-bnr {
padding-bottom: 112px;
}

.join {
padding: 70px 0 0;
}

.site-heading {
font-size: 36px;
}

.heading-item p {
font-size: 18px;
}

.grid-cols-3 {
grid-template-columns: 1fr 1fr;
}

.live .gap {
grid-template-columns: 1fr;
}

.nex-live {
margin-bottom: 40px;
}

.community {
margin: 70px 0;
}

.grid-cols-2 {
grid-template-columns: 1fr;
}

.community .gap {
gap: 40px;
}

.slider-build {
grid-template-columns: 1fr 1fr;
}

.build {
padding-bottom: 227px;
}

.grid-cols-4 {
grid-template-columns: repeat(2, 1fr);
}

.fun-bnr {
margin-top: 70px;
}

.fun-bnr h3 {
font-size: 36px;
}

.fun-bnr .grid {
padding: 69px 20px;
}

.site-banner h1 {
font-size: 35px;
line-height: 49px;
}
.second-bnr {
padding-top: 40px;
}
.blogs-heding h1 {
padding-bottom: 32px;
}
.blogs-bnr-img {
max-width: 90%;
margin: 0 auto;
}
.blogs-bnr-layer-desktop {
display: none;
}
.blogs-bnr-layer-mobile {
max-width: 371px;
max-height: 273px;
display: block;
position: absolute;
bottom: 0;
left: -87px;
border-radius: 0 !important;
}
.blogs-bnr-img {
position: relative;
}
.common-card {
margin: 70px 0 70px;
}
.common-tabs {
margin-top: 80px;
}
.join-card img {
border-radius: 25px;
min-height: 277px;
}
.join-card h3 {
max-width: 280px;
font-size: 22px;
line-height: 30.44px;
}
.join-card .primary-btn {
max-width: 282px;
margin: 18px auto 0;
padding: 8px;
}
.tabs-bar .css-hzcega-MuiTabs-list {
flex-wrap: wrap;
}
.common-tabs .flex-tbs {
gap: 25px;
}
.common-tabs .flex-tbs-img img {
width: 177px;
height: 114px;
}
.pagination-center {
gap: 17px;
}
.pagination {
padding-top: 24px;
}
.feature-sec {
margin: 50px 0 50px;
}

.feature-sec .grid-cols-3 {
grid-template-columns: 1fr 1fr;
}
.join-bottom-bnr h3 {
font-size: 36px;
}
.join-bottom-bnr .primary-btn {
margin: 40px auto 0;
}
}


@media (max-width: 768px) {
.site-banner .grid-cols-2 {
grid-template-columns: 1fr;
}

.img-bar {
text-align: center;
}

.site-banner h1 {
font-size: 32px;
line-height: 40px;
max-width: 351px;
}

.site-banner p {
padding: 16px 0 32px;
font-size: 16px;
line-height: 24px;
}

.bootom-bnr .grid-cols-2 {
display: flex;
flex-direction: column-reverse;
gap: 24px;
}

.slidr-img {
display: none;
}

.slider-flex {
grid-template-columns: 1fr;
}

.join {
padding: 40px 0 0;
}

.site-heading {
font-size: 32px;
text-align: left;
line-height: 40px;
}

.join .site-heading {
max-width: 158px;
line-height: 40px;
}

.heading-item p {
font-size: 16px;
text-align: left;
line-height: 24px;
}
.blogs-bnr-layer-mobile {
max-width: 318px;
max-height: 215px;
}
.grid-cols-3 {
grid-template-columns: 1fr;
}

.heading-item {
margin-bottom: 40px;
}

.join-botton {
margin-top: 32px;
}

.live {
padding-top: 40px;
}

.live .site-heading {
max-width: 360px;
}

.primary-btn {
padding: 11px 12px;
}

.community {
margin: 40px 0;
}

.certification-right {
margin-left: 10px;
}

.certification-flex {
flex-direction: column;
}

.michelle-box ul li {
line-height: 20px;
margin-bottom: 8px;
}

.certification-left {
gap: 12px;
}

.community-right h3 {
margin-bottom: 16px;
}

.build .heading-item p span {
font-weight: 400;
}

.slider-build {
grid-template-columns: 1fr;
gap: 40px;
}

p.quote {
margin-top: 16px;
}

.build .primary-btn {
margin: 32px auto 0;
}

.build {
padding-bottom: 173px;
}

.exclusive .site-heading {
max-width: 356px;
}

.fun-bnr h3 {
font-size: 32px;
line-height: 40px;
max-width: 473px;
margin: 0 auto;
}

.fun-bnr p {
font-size: 16px;
line-height: 24px;
font-weight: 400;
padding: 24px 0 40px;
}

.fun-bnr {
margin-top: 40px;
}
.layers img:last-child {
display: block;
}
.layers img:first-child {
display: none;
}
.blogs-heding h1 {
font-size: 32px;
line-height: 40px;
}
.second-bnr .gap {
gap: 32px;
}
.blogs-bnr-text h2 {
font-size: 33px;
max-width: 514px;
}
.common-card {
margin: 55px 0;
}
.common-card .card {
padding: 32px 0;
border-style: solid;
border-color: #dddbda;
border-width: 1px 0px 0px 0px;
}
.common-card .gap {
gap: 0;
}
.blogs-animation-img img {
max-width: 400px;
width: 100%;
}
.common-tabs .grid-cols-2 {
grid-template-columns: 1fr;
}
.common-tabs .css-13xfq8m-MuiTabPanel-root {
padding: 24px 0 0;
}
.common-tabs .flex-tbs {
padding-top: 24px;
padding-bottom: 24px;
}
.common-tabs .title-custom {
font-size: 20px;
line-height: 28px;
}
.join-card {
display: none;
}
.pagination .arrow.disabled {
font-size: 0;
}
.pagination .arrow {
font-size: 0;
}
.feature-card figure {
width: 56px;
height: 56px;
}
.join-bottom-bnr h3 {
font-size: 32px;
line-height: 40px;
max-width: 377px;
margin: 0 auto 24px;
}
.join-bottom-bnr-layer img:first-child {
width: 449px;
height: 139px;
}
}


@media (max-width: 575.98px) {
.link-bar ul li .header-btn {
font-size: 14px;
padding: 9px 10px;
}

.header .grid {
grid-template-columns: 135px 1fr;
}
.bootom-bnr {
padding-bottom: 96px;
}

.upcoming-flex {
grid-template-columns: 1fr;
padding: 24px;
gap: 16px;
}

.upcoming-btn .primary-btn {
width: 100%;
}

.certification-left {
gap: 12px;
}

.grid-cols-4 {
grid-template-columns: repeat(1, 1fr);
}

.exclusive .gap {
gap: 40px;
}

.exclusive .card-content .title {
max-width: 100%;
min-height: auto;
}

.exclusive .card-content p {
max-width: 100%;
}
.blogs-bnr-layer-mobile {
max-width: 221px;
max-height: 149px;
}
.site-footer .grid {
grid-template-columns: 1fr;
text-align: center;
}

.footer-icon ul {
justify-content: center;
gap: 20px;
display: flex;
}

section.site-footer {
margin: 40px 0 40px;
}
.blogs-bnr-text h2 {
max-width: 372px;
font-size: 24px;
line-height: 32px;
font-weight: 600;
}
.blogs-bnr-layer-mobile {
left: -68px;
}

.common-tabs .flex-tbs-img img {
width: 132px;
height: 82px;
}
.common-tabs .flex-tbs {
display: flex;
flex-direction: row-reverse;
gap: 10px;
}
.flex-tbs-img {
width: 40%;
}
.flex-tbs-content {
width: 70%;
}
.feature-sec .grid-cols-3 {
grid-template-columns: 1fr;
gap: 32px;
}
.tabs-bar .MuiTabs-list {
padding-right: 0;
padding-bottom: 50px;
}
.tabs-bar .css-1qltlow-MuiTabs-indicator {
display: none;
}
.dropdown-wrapper {
top: 132px;
left: 0;
right:unset;
}
}


@media (max-width: 480px) {
.link-bar ul li .header-btn {
font-size: 14px;
padding: 9px 10px;
}

.header .grid {
grid-template-columns: 108px 1fr;
}
.tabs-bar button {
padding: 8px 15px;
font-size: 13px;
}

.link-bar ul li .header-btn {
padding: 6px;
font-size: 11px;
}

.link-bar ul li a {
font-size: 13px;
}

.link-bar ul li {
margin-right: 15px;
}
.blogs-bnr-layer-mobile {
max-width: 175px;
max-height: 153px;
}
.common-card {
margin: 55px 0 3px;
}
.join-bottom-bnr h3 {
font-size: 27px;
}
}

@media (max-width: 420px) {
.container {
padding: 0 22px;
}

.header .container,
.site-footer .container {
padding: 0 15px;
}

.questions {
padding: 13px;
}

.bootom-bnr {
padding-bottom: 96px;
}

.join-box {
padding: 24px 13px;
}

.primary-btn {
padding: 11px 12px;
font-size: 15px;
}

.michelle {
grid-template-columns: 1fr;
}

.fun-bnr h3 {
font-size: 24px;
line-height: 34px;
}
.blogs-bnr-layer-mobile {
left: -41px;
max-width: 148px;
max-height: 133px;
}
.common-tabs .flex-tbs {
flex-direction: column;
}
.flex-tbs-content {
width: 100%;
}
.flex-tbs-img {
width: 100%;
}
.pagination-center {
display: none;
}
}


@media (max-width: 349px) {
.questions {
grid-template-columns: 1fr;
}

.questions p {
max-width: 100%;
}
}








